<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../admin/css/adminstyle.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
    <%- include('../../partials/admin/menu.ejs')%>

 
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu'></i>
      <span class="text">Private Houses Panel</span>
      
    </div>
    <div>
        <nav class="navbar navbar-expand-lg bg-light ">
            <div class="container-fluid">
              
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse  " id="navbarNavDropdown">
                <ul style="width: 250px;" class="navbar-nav m-auto">
              
                  <li class="nav-item dropdown ">
                    <a style="color:#004e92; text-transform: uppercase; font-weight: 600px; text-decoration: underline;" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Private Houses
                    </a>
                    <ul style="background-color: transparent; border: none;" class="dropdown-menu bg-light hover-dropdown">
                      <li><a class="dropdown-item" href="/admin/archi">Master Planning / Township</a></li>
                      <li><a class="dropdown-item" href="/admin/housing">Housing Projects</a></li>
                      <li><a class="dropdown-item" href="/admin/office">Office Building</a></li>
                      <li><a class="dropdown-item" href="/admin/retail">Retail & Entertainment</a></li>
                      <li><a class="dropdown-item" href="/admin/private">Private Houses</a></li>
                      <li><a class="dropdown-item" href="/admin/education">Education</a></li>
                      <li><a class="dropdown-item" href="/admin/culture">Culture</a></li>
                      <li><a class="dropdown-item" href="/admin/hospital">Hospitality</a></li>
                      
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

<div style="background: linear-gradient(to right, #004e92, #000428);" class="container-fluid ">
          <table class="table container m-auto mt-3">
            <tr>
              <th>Total services</th>
              <th>Total publish</th>
              <th>Total unpublish</th>
            </tr>
            <tr>
              <td><%=totalservices%></td>
              <td><%=totalpublish%></td>
              <td><%=totalunpublish%></td>
            </tr>
          </table> 

        </div>
          
          <form class="w-25 m-auto mt-3 text-center" action="/admin/privatesearch" method="post">
            <label class="mt-2" for="">Slect Status</label>
            <select name="search" id="" class="form-select">

                <option value="publish">Publish</option>
                <option value="unpublish">Unpublish</option>
            </select>
           <button style="background: linear-gradient(to right, #8da9bc, #000428);"  class=" btn btn-success mt-3" type="submit">search</button>
    
        </form>

        <div class="text-center mt-3">
          <a href="/admin/privateadd"><button style="background: linear-gradient(to right, #8da9bc, #000428);"  class="btn btn-danger w-25">Add services</button></a>
        </div>
       
      <div style="background: linear-gradient(to right, #004e92, #000428);" class="container-fluid m-auto mt-3">
        
        <table class="table container">
            
            <thead>
              <tr>
                <th scope="col">S no.</th>
                <th scope="col">Comapny Img</th>
                <th scope="col">Comany name</th>
                <th scope="col">Comapne Place</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <%record.forEach((result,key)=>{%>
              <tr>
                <th scope="row"><%=key +1%></th>
                <td><img style="height: 100px; width: 200px;" src="/upload/<%=result.img%>" alt=""></td>
                <td><%=result.company%></td>
                <td><%=result.place%></td>
                <%if(result.status=='publish'){%>
                    <td><a href="/admin/privatehousingstatus/<%=result.id%>"><button style="background: linear-gradient(to right, #004e92, #000428);" class="btn btn-info"><%=result.status%></button></a></td>
                    <%}else{%>
                      <td><a href="/admin/privatehousingstatus/<%=result.id%>"><button style="background: linear-gradient(to right, #8da9bc, #000428);" class="btn btn-warning"><%=result.status%></button></a></td>
        
                      <%}
                    %>
                <td><a href="/admin/deleteprivate/<%=result.id%>"><i class="bi bi-trash3 text-light"></i></a></td>
              </tr>
              <%})%>
              
            </tbody>
          </table>
        
      </div>
        
        
      </div>
    
  </section>

  

  <script>
    let arrow = document.querySelectorAll(".arrow");
for (var i = 0; i < arrow.length; i++) {
  arrow[i].addEventListener("click", (e)=>{
 let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
 arrowParent.classList.toggle("showMenu");
  });
}

let sidebar = document.querySelector(".sidebar");
let sidebarBtn = document.querySelector(".bx-menu");
console.log(sidebarBtn);
sidebarBtn.addEventListener("click", ()=>{
  sidebar.classList.toggle("close");
});
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>